body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: url('img/sliderbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.images{
    background:pink;
    flex:0 0 80%;
    min-height: 70vh;
    background: url('img/img1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#prevBtn{
    position:absolute;
    background: violet;
    font-size:25px;
    border-radius: 10px;
    padding: 7px;
     top:50%;
     left:0;
     transform: translate(-50%,-50%);
}
#nextBtn{
    position: absolute;
    background: violet;
    font-size:25px;
    border-radius: 10px;
    padding: 7px;
    top:50%;
    right:0;
    transform: translate(50%,-50%);
}

